@use '../utils/variables.scss';

.video-input {
  margin-top: 50px;
  height: 100px;
  @include variables.flex-center();
  font-family: "Open Sans", sans-serif;

  & input {
    width: 300px;
    height: 25px;
    border: 2px solid variables.$element-color;
    border-radius: 5px;
    background-color: transparent;
    color: variables.$font-color;
    font-size: 15px;

    &:focus {
      outline: unset;
      box-shadow: 0 0 1em variables.$hover-color;
    }
  }

  & button {
    text-transform: uppercase;
    background-color: variables.$element-color;
    box-shadow: inset 0 0 1em variables.$hover-color;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    color: variables.$font-color;
    letter-spacing: 3px;
    border: none;

    &:hover {
      background-color: variables.$hover-color;
      box-shadow: inset 0 0 1em variables.$element-color;
      transition: 1s color 1s ease-in-out;
    }
  }
}

@media (max-width: 600px) {
  .video-input {
    flex-direction: column;
  }
}





