body {
  margin: 0;
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

.icon {
  font-size: 18px;
  color: rgb(136, 129, 129);
}

.icon.fa-heart.active {
  color: rgb(223, 8, 55);
}

.icon.fa-star.active {
  color: yellow;
}

.icon.fa-database:hover {
  color: #2d8010;
}

.icon.fa-rotate-left:hover {
  color: rgb(26, 93, 238);
}

.icon:hover,
span:hover {
  filter: brightness(150%);
  transition: color 0.1s ease-in;
  cursor: pointer;
}

.icon.active {
  color: yellowgreen;
}

.icon.rotate {
  transform: rotate(180deg);
}

.icon.sample {
  margin-right: 0;
}
