.list-icons {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.video-item.list .list-icons {
  flex-direction: column;
}
.list-icons .icon {
  font-size: 22px;
  margin: 0 15px;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.pagination {
  width: 200px;
  margin: 15% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (orientation: landscape) and (max-width: 900px) {
  .pagination {
    margin: 7% auto;
  }
}

.video-list .active {
  color: yellowgreen;
}
