@use '../utils/variables.scss';

body {
  margin: 0;
  background-color: variables.$background-color;
  color: variables.$font-color;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;

  p {
    margin: 0;
  }
}

.video-app {
  max-width: 1200px;
  margin: 0 auto;

  .icon {
    font-size: 18px;
    color: variables.$element-color;

    &.active {
      color: variables.$active-color;
    }

    &.rotate {
      transform: rotate(180deg);
    }

    &.sample {
      margin-right: 0;
    }
  }

  .icon:hover, span:hover, .icon.active:hover {
    @include variables.hover();
  }
}

